#gridContainer {
    height: 800px;
    width: 800px;
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 2px solid black;
}

.etchSquare {
    background-color:blue;
}